@media only screen and (max-width: 600px) {
    #myBtn{
        width: 10%;
        height: 5%;
        padding: 0px;
        bottom: 5px;
        right: 5px;
    }
    .row .logo img {
        width: 70%;
        margin: 10px;
    }
    .scrolled .logo img{
        width: 60%;
        margin: 0px;
    }
    .scrolled .menu-mobile span{font-size: 35px !important;}
    .menu .col-xs-10{padding: 0%;text-align: left}
    .menu{direction: ltr}
    .col-xs-2{max-width: 16.666667%;}
    .col-xs-10{max-width: 83.333333%;}
    .col-xs-6{max-width: 50%;}
    /* .slider{margin-top: -3%} */
    .btn3 a {
        margin: 10px;
        font-size: 4.25vw;
    }
    .application .col-md {
        width: 50%;
        padding: 0%
    }
    .application .col-md p {
        margin-top: 2%;
        font-size: 12px;
    }
    .appimg{transform: rotate(0deg);}
    .application .col-md img {
        width: 30%;
    }
    .slider .imgslider{
        background: url('../image/slider-2.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .imgslider .hover{
        background: rgba(64, 68, 146, 0.9);
        height: 563px;
    }
    .menu-mobile{
        display: block !important;
        /* background-color: rgba(0, 0, 0, 0.8) !important; */
    }
    .slider span{
        display: block !important;
        color: #fff !important;
    }
    .nav{
        display: none;
    }
    .mycheckbox{
        margin-top: 20px;
    }
    .product-list-left-effect:hover .product-overlay {
        left: 4%;
    }
    .product-list-left-effect .product-overlay {
        margin-left: -16px;
    }
    .blog .product-overlay .btn-blog {
        margin-left: 121px;
    }
    .footer .loginfooter img {
        margin-top: 36px;
        margin-right: 55px;
    }
    .footer .footerimage img {
        margin-top: 9px;
    }
    .count-text {
        font-size: 14px;
    }
    .count-title {
        font-size: 30px;
    }
    .numberplugin h1 {
        padding-top: 25px;
    }
    .wrapper .row .boxleft h6 {
        font-size: 18px;
    }
    .wrapper .row .boxleft img {
        width: 20%;
    }
    .application .icon h5 {
        font-size: 15px;
    }
    .application .appicon {
        margin-top: 17px;
        margin-right: 18px;
    }
    .box .content h2 {
        font-size: 21px;
    }
    .box .content p {
        font-size: 13px;
    }
    .slider .text h1 {
        margin-top: 73px;
        font-size: 27px;
    }
    .slider .text h4 {
        margin-top: 38px;
        font-size: 16px;
    }
    .btn-success.btn-outline {
        margin-right:0px;
        margin-left: 0px;
        margin-top: 24px;
        font-size: 17px;
    }
    .row .logo {
        width: 70%;
    }
    .carousel-item img {
        width: 48%;
    }
    .footer .footerimage img {
        width: 100%;
    }
    .counter {
        padding: 1px 31px;
        border-radius: 5px;
        margin-bottom: 29px;
        margin-top: 33px;
    }
    .parallax {
        background-image: url("../image/banner---mobile.png");
    }
    .wrapper .row .boxleft p{font-size: 4vw}
    .process {
        padding: 3% 1% !important;
    }
    .login .col-md-6{padding: 0% !important}
    .login {
        background-position: top center;
        height: auto;
        padding: 35% 0% 10%;
    }
    .login .col-md-6 .w-75{width: 100% !important}
}
  /* end mobile */
@media screen and (min-width:768px) and (max-width: 1024px) { 
    #myBtn{
        width: 10%;
        height: 5%;
        padding: 0px;
        bottom: 5px;
        right: 5px;
    }
    .menu{direction: ltr}
    .menu-mobile{
        display: block !important;
        background-color: #fff !important;
     }
    .slider span{
        display: block !important;
        color: #fff !important;
    }
    .nav{
        display: none;
    }
    .row .logo {
        width: 130px;
        margin-top: 6px;
        margin-left: -4px;
    }
    .btn-success.btn-outline {
        margin-right:0px;
        margin-left: 0px;
        margin-top: 24px;
        font-size: 20px;
    }
    .slider .text h1 {
        margin-top: 91px;
        font-size: 31px;
    }
    .slider .text h4 {
        margin-top: 45px;
        font-size: 19px;
    }
    .appimg {
        width: 116%;
        margin-top: -46px;
        padding: 0%;
    }
    .application .imgicon {
        width: 22%;
        margin-top: 50px;
        margin-right: -60px;
    }
    .application .icon h5 {
        margin-top: 57px;
        margin-right: -14px;
        font-size: 13px;
    }
    .application .appicon {
        width: 89%;
        float: right;
        margin-top: 14px;
        margin-right: -23px;
    }
    .wrapper .image img {
        width: 100%;
    }
    .wrapper .row .boxleft img {
        width: 48%;
    }
    .wrapper .row .boxleft h6 {
        color: #18c691;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .wrapper .row .boxleft p {
        color: #707070;
        text-align: justify;
        direction: rtl;
        font-size: 10px;
    }
    .box .content h2 {
       font-size: 16px;
    }
    .box .content p {
       font-size: 10px;
    }
    .boxs a {
        font-size: 10px;
    }
    .form-control::placeholder{
        color: #fff;
        font-size: 12px
    }
    .banner .bannerbtn {
    font-size: 11px;
        padding: 2% 4%;
    }
    .footer .topfooter img {
        width: 31px;
        margin-top: 13px;
    }
    .footer .topfooter .addres h5 {
        float: right;
        text-align: right;
        font-size: 16px;
    }
    .footer .topfooter .call h5 {
        float: right;
        text-align: right;
        font-size: 16px;
    }
    .footer .topfooter .post h5 {
        float: right;
        text-align: right;
        font-size: 16px;
    }.footer .topfooter .addres p {
        float: right;
        text-align: right;
        font-size: 13px;
    }
    .footer span {
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 22px;
    }
    .footer .bottomfooter p {
        color: #fff;
        text-align: justify;
        font-size: 11px;
    }
    .footer .loginfooter img {
        width: 162%;
        margin-top: 22px;
        margin-right: 32px;
    }
    .blog .text {
        padding: 1% 2% !important;
       
    }
    .blog .blogbox p {
        font-size: 9px;
        margin-top: 0px;
    }
    .banner form .a{
        padding: 0px !important;
    }
    .banner .mycheckbox label{
        font-size: 9px;
    }
    .product-list-left-effect .product-overlay h5 {
        margin-top: 11px;
        font-size: 12px;
    }
    .blog .product-overlay .btn-blog {
        margin-left: 37px;
        margin-top: 17px;
        font-size: 12px
    }
    .blog h1 {
        margin-bottom: 25px;
        font-size: 27px;
    }
    .carousel-item img {

        width: 26%;
    }
    .parallax {
        background-image: url("/image/banner---mobile.png");
    }
    .wrapper .row .boxleft p{font-size: 4vw}
    .process {
        padding: 3% 1% !important;
    }
    .login .col-md-6{padding: 0% !important}
    .login {
        background-position: top center;
        height: auto;
        padding: 35% 0% 10%;
    }
    .login .col-md-6 .w-75{width: 100% !important}
}
/* end ipad */