html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: sans;
    font-weight: 200;
    font-style: normal;
    src: url('../font/iransansdn.eot');
    src: url('../font/iransansdn.eot?#iefix') format('embedded-opentype'), url('../font/iransansdn.woff') format('woff2'), url('../font/iransansdn.woff') format('woff'), url('../font/iransansdn.ttf') format('truetype');
}
.container{
    max-width:95% !important;
}
.row{
	width: 100%;
	margin: 0;
}
.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}
.lh{line-height: 1.60}
.w-10{width: 10% !important}
.w-20{width: 20% !important}
.w-30{width: 30% !important}
.w-40{width: 40% !important}
.w-60{width: 60% !important}
.w-70{width: 70% !important}
.w-80{width: 80% !important}
.w-90{width: 90% !important}

.ltr{direction: ltr !important}
.rtl{direction: rtl !important}
.rounded{border-radius:15px !important}
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #02e18e;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding:10px;
    width: 4%;
    height: 7%;
}
#myBtn img{width: 70%}
.btn-outline-topmo{color:#404392;border-color: #404392}
.btn-outline-topmo:hover{color: #fff;background-color: #404392;border-color: #404392;}
.topmocolor{color: #404392}
.light{background: #eee}
.btn-topmocolor{background: #404392;color: #fff}
.note{color: #999}
.red{color: red !important}
.btn-topmo1{border: 2px solid #02e18e;background: transparent!important;color: #02e18e !important}
.btn-topmo1:hover{background: #02e18e !important;color: #a0a4ee !important}
.btn-topmo2{border: 2px solid #a0a4ee;background: transparent!important;color: #a0a4ee !important}
.btn-topmo2:hover{background: #a0a4ee !important;border: 2px solid #a0a4ee !important;color: #02e18e !important}
a{text-decoration:none !important;cursor: pointer;}
/* start header   */
.slider .imgslider{
    background: url('../image/slider2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.menu{
    position: absolute;
z-index: 1;
}
.menu-area {
    background-color: transparent;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition!important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}
/*.mainmenu a,*/
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    padding: 10px 15px;
    display: block !important;
}
.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav>.show>a,
.navbar-default .navbar-nav>.show>a:focus,
.navbar-default .navbar-nav>.show>a:hover {
    color: #fff;
    background-color: transparent;
    outline: 0;
}
.navbar-light .navbar-toggler{
    padding: 0;
}
.navbar-light .navbar-toggler .fa-bars{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
}
.only-mobile{
    display: none;
}
.only-desktop{
    display: block;
}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.mainmenu .collapse ul ul > li:hover > a{
    background-color: transparent;
}
.mainmenu .collapse ul ul ul > li:hover > a {
    background-color: transparent;
}
.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
    background-color: #fff;
}
.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    background-color: #fff
}
.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    background-color: transparent
}
/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 20px 0px;
    min-height: 20px;
    width: 100%;
}
.black{color: #000 !important;font-size: 13px}
@media only screen and (min-width: 767px) {
    /* Level 1 */
    .mainmenu .collapse ul ul {
        position: absolute;
        top: 80px;
        left: 0;
        min-width: 250px;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }
    .mainmenu .collapse ul li:hover> ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    /* Level 2 */
    .mainmenu .collapse ul ul li {
        position: relative;
    }
    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 120%;
        min-width: 250px;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }
    .mainmenu .collapse ul ul li:hover> ul {
        visibility: visible;
        opacity: 1;
        top: 0;
        right: 100%;
    }
    .mainmenu .collapse ul ul li a .fa-angle-left{
        position: absolute;
        left: 20px;
        top: 14px;
    }
    /* Level 3 */
    .mainmenu .collapse ul ul ul li {
        position: relative
    }
    .mainmenu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        left: -120%;
        min-width: 250px;
        display: block;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }
    .mainmenu .collapse ul ul ul li:hover ul {
        visibility: visible;
        opacity: 1;
        top: 0;
        left: -100% !important;
    }
}
@media only screen and (max-width: 767px) {
    .only-mobile{
        display: inline-block;
    }
    .only-desktop{
        display: none;
    }
    .mainmenu .collapse ul ul > li.dropdown > a,
    .mainmenu .collapse ul ul > li.dropdown > ul.dropdown-menu > li.dropdown > a{
        background-color: transparent;
        padding: 16px 15px 16px 15px;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a,
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a,
    .navbar-nav .show .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px;
        background-color: transparent;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a:hover,
    .navbar-nav .show .dropdown-menu > li > a:hover{
        background-color: transparent;
    }
    /* Level 1 mobile arrow */
    .mainmenu ul li a .fa-angle-down{
        position: absolute;
        right: 15px;
        top: 15px;
        width: 25px;
        height: 25px;
        background-color: #fff;
        color: #0f3c9e;
        text-align: center;
        line-height: 25px;
    }
}
/*custom css*/
.mainmenu ul li a.dropdown-toggle::after{
    display: none;
}
/* .menu .nav li{
    display: inline;
}
.menu .nav ul{
    padding: 0;
    padding-top: 30px;
    margin: 0%
}
.menu .nav a{
    font-size: 1vw;
}
.menu .btn{
    color: #02e18e;
    margin-right: 20px;
}
.menu .nav .btn2{
    color: #FFFFFF;
    margin-right: 20px;
} */
.imgslider .hover{
    background: rgba(64, 68, 146, 0.9);
}
.row .logo{
    width: 100%;
    margin-top: 11px;
}
.slider .text{padding: 15vw 0% 5vw}
.slider .text h1{
    color: #02e18e;
    text-align: center;
    /* margin-top:165px; */
    font-weight: bold;
    font-size: 2.5vw;
}
.slider .text h4{
    color: #fff;
    text-align: center;
    margin-top:45px;
    font-size: 1.5vw;
}
.btn3{
    text-align: center;
    margin-top: 40px;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.btn-success.btn-outline {
    color: #18c691;
    margin-right: 12px;
    margin-left: 24px;
    color: #fff !important;
}
.btn3 a{margin: 10px;font-size: 1.25vw;}
/* header */
/* start application */
.application{
    background: #E9E9E9;
    margin-bottom: -21px;
    padding-bottom: 20px;
}
.application .app{
    margin-top: 10%
}
.application .app img{
    width: 50%
}
.appimg{
    width: 90%;
    margin-top: -95px;
    padding: 0%;
    transform: rotate(-10deg);
}
.application .row h3{
    color: #404392;
    text-align: center;
    margin-top: 47px;
}
.application .imgicon{
    width: 13%;
    float: right;
}
.application .appicon{
    width: 80%;
    float: right;
    margin-top: 29px;
}
.application .col-md img{width:15%}
.application .col-md{margin-top: 3%}
.application .col-md p{margin-top: 2%;font-size: 20px}

/* end application */

/* start box */

.boxs .row{
    margin-top: 20px;
    margin-bottom: 20px
}
 .box {
    position:relative;
    width:100%;
    background:rgba(64, 68, 146, 0.92);
    float:left;
    box-sizing:border-box;
    overflow:hidden;
}
 .box:before {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleX(0);
    opacity:0;
}
 .box:hover:before {
    transform:scaleX(1);
    opacity:1;
}
 .box:after {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleY(0);
    opacity:0;
}
 .box:hover:after {
    transform:scaleY(1);
    opacity:1;
}
 .box .imgBox {
    position:relative;
}
 .box .imgBox img {
    width:100%;
    transition:0.5s;
}
 .box:hover .imgBox img {
    opacity:.2;
    transform:scale(1.2);
}
 .box .content {
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
}
 .box .content h2 {
    margin: 0 0 10px;
    padding:0;
    color:#fff;
    transition:0.5s;
    transform:translateY(-50px);
    opacity:0;
    visibility:hidden;
}
.box .content p {
    margin:0;
    padding:0;
    color:#fff;
    transform:translateY(50px);
    opacity:0;
    visibility:hidden;
}
 .box:hover .content h2,
 .box:hover .content P {
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
}
.boxs .col-md-4{
    padding: 0% !important;
}
.boxs a{
    margin-top: 23px;
    background: #fff !important;
    color: #404392 !important;
}

/* end box */

/* start wrapper */

.wrapper .col-md-6{
    padding: 0 !important;
}
.wrapper .row .boxleft{
    background: #E9E9E9;
    width: 100%;
padding-top: 3% !important;
}
.wrapper .row .boxleft img{
    width: 20%;
}
.wrapper .row .boxleft .col-md-4{
    text-align: center;
}
.wrapper .row .boxleft p{
    color: #707070;
    text-align: justify;
    direction: rtl;
    font-size: 1vw;
}
.wrapper .row .boxleft h6{
    color: #18c691;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1vw;
}
.wrapper .image img{
    width: 100%;
    height: 100%;
}
/* end wrapper */
/* start pluginnumber */
.counter {
    padding: 20px 0;
    border-radius: 5px;
    margin-bottom: 116px;
    margin-top: 43px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #18c691;
}

.count-text {
    font-size: 17px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #707070;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
.numberplugin h1{
    padding-top: 90px;
    color: #404392;
    font-size: 35px;
}
.numberplugin .counter img{
    width: 50px;
}
/* end pluginnumber */
/* start banner */
.banner .imagebanner{
    /* background: url('../image/banner.jpg'); */
    width: 100%;
    
}
.parallax {
    background-image: url("../image/banner---Copy.jpg");
    min-height: 300px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .imagebanner{
    background-image:url('../image/banner---Copy.jpg'); 
    
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-size: cover; */
    min-height: 500px; 
}
.centered-form{
	margin-top: 60px;
}

.banner .bannerright .bannertitle{
    text-align: center;
    margin-top: 18px;
    color: #02e18e
}
#register .form-control::placeholder{color: #fff}
#register .form-control {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FFFFFF;
    border-radius: 0 !important;
}
.banner .bannerleft .bannertitle h3{
    text-align: center;
    margin-top: 18px;
    color: #404392;
}
/* .banner .bannerbtn  {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
} */
.banner .bt-right{
    width: 100%;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
}
.banner .bt-right:hover{background:#02e18e;border-color: #02e18e;color:#404392;transition: all .5s ease-in-out }
.banner .bt-left{
    width: 100%;
    border: 1px solid #fff;
    border-radius: 0px;
    color: white;
}
.banner .bt-left:hover{background:#404392;border-color: #404392;color:#02e18e;transition: all .5s ease-in-out }
.form-control::placeholder{
    color: #fff;
    
}
.mycheckbox label{
    color: #fff;
}
.normal-icon{
    min-height: 100px;
    line-height: 100px;
}

.normal-icon a{
    border-radius:0;
}
.normal-icon .btn-login{
    background:rgb(2, 225, 142, 0.7);
    color: #404392;
    width: 100%
}
.normal-icon .btn-login:hover{
    background: rgb(64, 67, 146, 0.7) !important;
    transition: all .4s ease-in-out;
    color: #02e18e
}
.normal-icon .btn-loginleft:hover{
    background: rgb(2, 225, 142, 0.7) !important;
    transition: all .4s ease-in-out;
    color: #404392
}
.normal-icon .btn-loginleft{
    background: rgb(64, 67, 146, 0.7);
    color: #02e18e;
    width: 100%
}
.line-btn{
    min-height: 100px;
    line-height:100px;
}
/* end banner */


/* start timeline */
.container h4{color: #404392;text-align: center;}
.container .circle img{width: 66px;margin-top: 5px;}
.process{padding:3% 10%}

/******************* Timeline Demo - 4 *****************/

.process .timeline img{width: 50%;}
.main-timeline2{padding-top:50px;overflow:hidden;position:relative}
.main-timeline2:before{content:"";width:7px;height:100%;background:#ddd;margin:0 auto;position:absolute;top:80px;left:0;right:0}
.main-timeline2 .timeline{width:50%;float:left;padding:20px 60px;border-top:7px solid #ddd;border-right:7px solid #ddd;border-radius:0 30px 0 0;position:relative;right:-3.5px}
.main-timeline2 .icon{display:block;width:50px;height:50px;line-height:50px;border-radius:50%;background:#e84c47;border:1px solid #fff;text-align:center;font-size:25px;color:#fff;box-shadow:0 0 0 2px #e84c47;position:absolute;top:-30px;left:0}
.main-timeline2 .timeline-content{display:block;padding:30px 10px 10px;border-radius:20px;background:#e84c47;color:#fff;position:relative}
.main-timeline2 .timeline-content:hover{text-decoration:none;color:#fff}
.main-timeline2 .timeline-content:after,.main-timeline2 .timeline-content:before{content:"";display:block;width:10px;height:50px;border-radius:10px;background:#e84c47;border:1px solid #fff;position:absolute;top:-35px;left:50px}
.main-timeline2 .timeline-content:after{left:auto;right:50px}
.main-timeline2 .title{font-size:24px;margin:0}
.main-timeline2 .description{font-size:15px;letter-spacing:1px;margin:0 0 5px}
.main-timeline2 .timeline:nth-child(2n){border-right:none;border-left:7px solid #ddd;border-radius:30px 0 0;right:auto;left:-3.5px}
.main-timeline2 .timeline:nth-child(2n) .icon{left:auto;right:0;box-shadow:0 0 0 2px #4bd9bf}
.main-timeline2 .timeline:nth-child(2){margin-top:130px}
.main-timeline2 .timeline:nth-child(odd){margin:-130px 0 30px}
.main-timeline2 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline2 .timeline:first-child,.main-timeline2 .timeline:last-child:nth-child(even){margin:0 0 30px}
.main-timeline2 .timeline:nth-child(2n) .icon,.main-timeline2 .timeline:nth-child(2n) .timeline-content,.main-timeline2 .timeline:nth-child(2n) .timeline-content:after,.main-timeline2 .timeline:nth-child(2n) .timeline-content:before{background:#4bd9bf}
.main-timeline2 .timeline:nth-child(3n) .icon,.main-timeline2 .timeline:nth-child(3n) .timeline-content,.main-timeline2 .timeline:nth-child(3n) .timeline-content:after,.main-timeline2 .timeline:nth-child(3n) .timeline-content:before{background:#ff9e09}
.main-timeline2 .timeline:nth-child(3n) .icon{box-shadow:0 0 0 2px #ff9e09}
.main-timeline2 .timeline:nth-child(4n) .icon,.main-timeline2 .timeline:nth-child(4n) .timeline-content,.main-timeline2 .timeline:nth-child(4n) .timeline-content:after,.main-timeline2 .timeline:nth-child(4n) .timeline-content:before{background:#3ebae7}
.main-timeline2 .timeline:nth-child(4n) .icon{box-shadow:0 0 0 2px #3ebae7}
@media only screen and (max-width:767px){.main-timeline2:before{left:0;right:auto}
.main-timeline2 .timeline,.main-timeline2 .timeline:nth-child(even),.main-timeline2 .timeline:nth-child(odd){width:100%;float:none;padding:20px 30px;margin:0 0 30px;border-right:none;border-left:7px solid #ddd;border-radius:30px 0 0;right:auto;left:0}
.main-timeline2 .icon{left:auto;right:0}
}
@media only screen and (max-width:480px){.main-timeline2 .title{font-size:18px}
}


/* end timeline */
/* start blog */
.blog h1{
    text-align: center;
    color: #404392;
}
.blog .col-md-6{
    padding: 0
}
.blog  img{
    width: 100%;
}
.blog .text{
    background: #F0EFEF;
    padding: 16px;
    color: #454344;
}
.blog .blogbox{
    text-align:  justify;
    direction: rtl;
}
.blog .product-overlay .btn-blog{
    border: 1px solid #fff ;
    margin-top: 30px;
    color: #fff
}
.blog .blogbox p{
    font-size: 14px;
    margin-top: 26px;
    
}
.product-list-left-effect
{
	width:100%;
	position:relative;
	margin-bottom:20px;	
    overflow:hidden;
    margin: 0
}

.product-list-left-effect img
{
	transition-duration:0.4s;
}

.product-list-left-effect .product-overlay
{
    width:100%;
    height: 100%;
	position:absolute;
	padding:20px;
	background:rgba(64, 68, 146, 0.9);
	color:#fff;
	top:0%;
    left:-100%;
    margin-left: -17px;
	
	transition-duration:0.4s;
	-webkit-transition: left 0.5s ease-in-out;
}

.product-list-left-effect .product-overlay h5
{
    margin-top: 40px;
    text-align: center
}

.product-list-left-effect:hover .product-overlay
{
	/*opacity:1;*/
	-webkit-transition: left 0.5s ease-in-out;
	left:5%;
}

.product-list-left-effect:hover img
{
	 transform: scale(1.1);
}
/*product-list-hover-slide-effect*/


/*theme-heading*/
.theme-heading
{
	text-align:center;
	margin-bottom:2rem;
	font-weight:300;
}
.blog h1{
    text-align: center;
    color: #404392;
}
.blog .col-md-6{
    padding: 0
}
.blog  img{
    width: 100%;
}
.blog .text{
    background: #F0EFEF;
    padding: 16px;
    color: #454344;
}
.blog .blogbox{
    text-align:  justify;
    direction: rtl;
}
.blog .product-overlay .btn-blog{
    border: 1px solid #fff ;
    margin-top: 30px;
    color: #fff
}
.blog .blogbox p{
    font-size: 14px;
    margin-top: 26px;
    
}
/*product-list-hover-slide-effect*/
.product-list-left-effect
{
	width:100%;
	position:relative;
	margin-bottom:20px;	
    overflow:hidden;
    margin: 0;
    height: 100%;
}

.product-list-left-effect img{
    transition-duration:0.4s;
    height: 100%;
}

.product-list-left-effect .product-overlay{
    width:100%;
    height: 100%;
	position:absolute;
	padding:20px;
	background:rgba(64, 68, 146, 0.9);
	color:#fff;
	top:0%;
    left:-100%;
    margin-left: -17px;
	
	transition-duration:0.4s;
	-webkit-transition: left 0.5s ease-in-out;
}

.product-list-left-effect .product-overlay h5
{
    margin-top: 40px;
    text-align: center
}

.product-list-left-effect:hover .product-overlay
{
	/*opacity:1;*/
	-webkit-transition: left 0.5s ease-in-out;
	left:5%;
}

.product-list-left-effect:hover img
{
	 transform: scale(1.1);
}
/*product-list-hover-slide-effect*/
/*theme-heading*/
.theme-heading
{
	text-align:center;
	margin-bottom:2rem;
	font-weight:300;
}


/* start footer */
.footer{
	border-top: 3px solid #2A2D66;
}

.footer .imgbackground{
    background: url('../image/footer.jpg');
    background-size: 100%;
}
.footer .imgbackground .hover{
	background: rgba(64, 68, 146, 0.9);
	padding: 3% 0%;
}
.footer .bottomfooter{margin-top: 5%}
.footer .bottomfooter h3{
    color: #fff
}
.footer .bottomfooter p{
    color: #fff;
    text-align: justify;
    font-size: 14px;
}
.footer span{
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 26px;
}
.footer li{
    list-style: none;
}
.footer .bottomfooter a{
    color: #fff;
    padding: 0;
}
.footer .footerimage img{
    width: 100%;
    padding-right: 3px;
    background: #fff;
    border-radius: 5px
}
.footer .footerimage .col-md-6{padding: 2%;}
.footer .footerimage .col-md-12{
    padding: 0px 0px 0px 80px !important;
}
.footer .normal-icon .btn-loginfooter{
    background: #18c691;
    margin: 0;
}
.footer .loginfooter .col-md-12{
    padding: 0;
}
.footer .bottomfooter ul{
    padding: 0;
}
.footer .topfooter .email h5{
    color: #fff;
}

.footer .topfooter .call h5{
    color: #fff;
}

.footer .topfooter .addres p{
    color: #fff;
}
.footer .topfooter .addres h5{
    color: #fff;
    margin-right: 6px;
}
.footer .topfooter img{
    width: 40px;
    margin-top: 13px;
}
.footer .topfooter .col-md-4{
    margin-top: 33px;    
}
.footer .topfooter .email h6{
    color: #fff;
}
.footer .topfooter .call h6{
    color: #fff;
}
.footer .topfooter .col-md-3{
    text-align: right;
    padding: 0;
   
}
.footer .topfooter .col-md-9{
    padding: 0;
   
}
.footer .bottomfooter.loginfooter img{
    width: 100%;
}
.footer .loginfooter img{
    width: 50%;
    margin-top: 49px;
}
.footer hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
	border-top-color: currentcolor;
	border-top-style: none;
	border-top-width: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.31);
}
/* end footer */
.slider .nav .btn2:hover{
    color: #18c691;
    transition: all .5s ease-in-out;
}
.banner .bannerbtn:hover{
    border: 1px solid rgba(18, 146, 105, 0.74) !important;
    background:  rgba(24, 198, 143, 0.74)!important;
    transition: all .5s ease-in-out; 
}
.normal-icon .btn-login :hover{
    background: #5258C4;
    color: #fff;
}

/* sid nav for respansive */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #02e18e;
	display: block;
    transition: 0.3s;
    margin-right: 3%
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	left: -55px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.menu-mobile{
    display: none;
}
.slider span{
    display: none;
}

.my-nav{
	position: absolute;
	z-index: 10;
	width: 100%;
}
.carousel-item {
	width: 100%;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.my-carousel{
    text-align: center;
}
#carouselExampleIndicators ol li{
    width: 15px;height: 15px;border-radius: 50%;margin-left: 2px;background-color: #3d428f !important;
}
#carouselExampleIndicators .carousel-inner{padding: 0% 15%}
#carouselExampleIndicators ol li:active{opacity: 1 !important;width: 17px;height: 17px;}
#carouselExampleIndicators ol{padding:0%}
#carouselExampleIndicators .carousel-item h5{padding: 5% 0%}
.carousel-item img{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 13%;
}
.carousel-item p{
    margin-top: 29px;
}
.carousel-indicators li{
    background-color: black !important;
}
.my-carousel h1{
    color: #404392;
    padding:60px 15px;
    font-size: 35px;
}
.my-carousel p{
    color: #454344;
}
.carousel-control-next-icon {
    background-image: url("../icon/next.png") !important; 
    width: 30px;
    height: 30px
}
.carousel-control-prev-icon {
    background-image: url("../icon/back.png") !important; 
    width: 30px;
    height: 30px
}
/* start header2 */
.header2 .imgheader{
    background: url('../image/slider2.jpg');
}

.header2 .container .nav li{
    display: inline;
}
.header2 .container .nav ul{
    padding: 0;
    padding-top: 20px;
}
.header2 .container .nav a{
    text-decoration: none !important;
    font-weight: bold;
}
.header2 .nav .btn{
    color: #18c691;
    margin-right: 20px;
}
.header2 .nav .btn2{
    color: #FFFFFF;
    margin-right: 20px;
}
.imgheader .hover{
    background: rgba(64, 68, 146, 0.9);
    width: 100%;
}
.row .logo img{
    width: 60%;
    margin: 10px;
}
.header2 .text h1{
    color: #18c691;
    text-align: center;
    margin-top:180px;
}
.header2 .text h4{
    color: #fff;
    text-align: center;
    margin-top:45px;
}
.header2 .sidenav{
    display: none
}
.header2 span{
    display: none;
}
.header2 .nav .btn2:hover {
    color: #18c691;
    transition: .4s
}
.header2 h1{
    text-align: center;
    color: #18c691;
    padding: 49px;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #FFFFFF !important;
    border-radius: 0rem;
    border-bottom: 1px solid #4f539a;
    padding: 0%;
}
.breadcrumb a{
    color: #404392 !important;
}
/* start blog detail */
.sidebar .blogimg img{
    width: 30%;
    margin-top: -55px;
}
.sideblog .hover:hover{background: #ddd;transition: .6s;border-radius: 10px 10px 0px 0px}
.sideblog li img{border-radius:10px 0px 0px 0px}
.sidebar .sideblog li{
    display: inline
}
.sidebar .sideblog li{
    display: inline
}
.sideblog .post-list{
    padding: 0 !important;
}
.detail img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.detail p{
	text-align: justify;
	padding-top: 0px;
}
/* .side h1{
    text-align: right;
    padding-bottom: 25px;
 
} */
.controls .form-control{
    border: 1px solid #A3A3A3 ;
    color: black;
    border-radius: 10px !important
}
.controls .list-unstyled li{
    color: red
}
.btn-success1 {
    color: #fff;
    background-color: #18c691;
    border-color: #18c691;
}
.blogcomment .col-lg-8{
    padding: 0 !important;
    flex: 100% !important;
    max-width: 100% !important;
}
.controls .form-control label{
    color: #777777
}
.controls h6{
    padding-top: 20px ;
    color: #2A2D66
}
.controls h5{
    color: #2A2D66;
    font-size: 12px
}
.side h3{
    color: #404392
}
.controls .form-control:hover {
    background: rgba(24, 198, 143, 0.34);
    transition: .5s;
}

.side .form-group placeholder:hover{
    color: #777777 !important
}
.side .breadcrumb{
    padding: 0
}
.comments-main{
    background: #FFF;
}
.comment time, .comment:hover time,.icon-rocknroll, .like-count {
	-webkit-transition: .25s opacity linear;
	transition: .25s opacity linear;
}
.comments-main ul li{
	list-style: none;
}
.comments .comment {
	padding: 5px 10px;
    background: #F3F3F3;
    border-radius: 15px 0px 15px 15px;
}
.comments .comment:hover time{
	opacity: 1;
}
.comments .comment h4 {
	display: inline-block;
	font-size: 16px;
}
.comments .comment h4 a {
	color: #404040;
	text-decoration: none;
}
.comments .comment .icon-rocknroll {
	color: #545454;
	font-size: .85rem;
}
.comments .comment .icon-rocknroll:hover {
	opacity: .5;
}
.comments .comment time,.comments .comment .like-count,.comments .comment .icon-rocknroll {
    font-size: .75rem;
    
}
.comments .comment time, .comments .comment .like-count {
	font-weight: 300;
}
.comments .comment p {
	font-size: 13px;
}
.comments .comment p .reply {
	color: #BFBFA8;
	cursor: pointer;
}
.comments .comment .active {
	opacity: 1;
}
.icon-rocknroll {
	background: none;
	outline: none;
	cursor: pointer;
	margin: 0 .125rem 0 0;
}
.comments .comment:hover .icon-rocknroll,.comments .comment:hover .like-count {
	opacity: 1;
}
.comment-box-main{
	background: #CA1D5F;
}
@media (min-width: 320px) and (max-width: 480px){
    .comments .comment h4 {
        font-size: 12px;
    }
    .comments .comment p{
        font-size: 11px;
    }
    .comment-box-main .send-btn button{
        margin-left: 5px;
    }
}
.mt-5 .col-md-12{
	margin-right: 3px;
}
.mt-5 h4{
	color: #2A2D66;
	font-size: 19px
}
.mt-5 .text-white{
	color: #2A2D66 !important
}
.side .post-list .post-title{
    text-align: left
}
.side .post-title a{
    color: #adadad !important
}
.scrolled{
    position: fixed;
    background: rgba(64, 68, 146, 1);
    z-index: 11111;
    top: 0;
    left: 0;
    right: 0;
    transition: all .5s ease-in-out;
    box-shadow: 0 0px 10px rgba(0,0,0,.8);
}
.scrolled .mainmenu{padding: 5px 0px 0px 0px !important}
.scrolled .row .logo {
    margin-top: 5px;
    margin-bottom: 5px;
}
.scrolled .logo img{
    width: 60%;
    margin: 0px;
}
/* #myBtn:hover {background-color: #ab2379;} */
.footer .bottomfooter p{
    line-height: 22.15px;
}
.carousel-inner h4{
    color: #424242 !important;
    font-size: 19px !important;
}
.carousel-inner h6{
    color: #7b7a7ae6 !important;
    font-size: 12px !important;
}
.boxleft .row{
    margin: 1.5vw 0vw !important;
}

/* advisers */
.product .rating {
    float: left;
    margin: auto;
}
.star-ratings-sprite {
    background: url("../image/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin:auto;
}
.star-ratings-sprite-rating {
    background: url("../image/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}
.star-ratings-sprite {
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
}
/* .advisers .col-md-3{max-width: 20%;} */
.advisers .border{border:1px solid #404392 !important}
#accordion li{display: block}
#accordion a{color: #404392;text-decoration: none}
#accordion a:hover{color: #02e18e;text-decoration: none;transition: .4s}
#accordion .btn-link{color: #404392;text-decoration: none}

/* contact */
#contact button#submit:hover {background: #404392;color: #ffffff;}
/* #contact .form-control:focus {border-bottom-color: #999999;} */
.contact-info .fa {padding-right: 5px;}
#contact input {height: 55px;}
#contact .form-control {
    border: none;
    border-bottom:1px solid #999;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    border-radius: 10px 10px 0px 0px;
}
#contact button#submit {
    background: #2b2b2b;
    border: none;
    border-radius:0px;
    color: #000;
    height: 50px;
}
.contact .form-control::placeholder{color: #111 !important}
.contact .white-text{color: #fff !important}
.contact{background: #f7f7f7}
.contact .fa{font-size: 20px;color: #02e18e}
.contact .fadeInUp a{font-size: 20px;color: #404392;text-align: justify}
/*  */
.breadcrumbblog .carousel-indicators{top:105%;}
.breadcrumbblog .carousel-indicators li{background-color:red;}
.breadcrumbblog .carousel-control-prev-icon {background-image: url("../icon/002-back.png") !important;}
.breadcrumbblog .carousel-control-next-icon {background-image: url("../icon/001-next.png") !important;}
.breadcrumbblog section{padding:10px 0px}
.breadcrumbblog .carousel-control-next,
.breadcrumbblog .carousel-control-prev{
    margin: -4%;
    width: 4%;
}
.card{padding: 5%}
.details .carousel-item img{border-radius: 0px}
.details .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #404392 !important;
}
.social li{display: inline;}
.social li span{font-size: 10px}
.login{
    background-image: url('../image/loginback.png');background-size: 30%;
    background-repeat: no-repeat;background-position:bottom left 15%;height: 400px
}
.login .col-md-6{align-self:center;}
.login .input-group-text{border-radius: 20px !important}
.login .form-control{border-radius: 20px !important}
.login .form-control::placeholder{color: #999}
.login .btn-outline-info{border-radius: 20px;border-color: #18c691 !important;color: #18c691}
.btn-outline-info:hover {
    color: #fff !important;
    background-color: #18c691;
    border-color: #18c691;
    transition: .5s
}